@charset "UTF-8";

::-webkit-scrollbar {width:0px;}
::-webkit-scrollbar-track {background:rgba(255,255,255,.1); border-radius: 3px;}
body{
	background:rgba(0,0,0,.6);
}
#content{
	color:#d0d0d0;
	font-size:12px;
	padding:5px 5px 22px 5px;
	/*border: 1px solid #00ff00;*/
	height:100%;

}
#footer {
	position:fixed; 
	left:0px; right:-2px; bottom:-2px;
	height:22px; 
	background:url(./handle.svg) no-repeat; 
	background-position:right bottom;
	background-color:#fff;
	opacity:0.5; transition:0.7s;
	color:#000;
	font-size:12px;
	line-height:22px;
	padding:0px 5px;
	font-weight:bold;
	/*border: 1px solid #ff0000;*/
}
#footer:hover {opacity:0.8;}
.title{
	color:Yellow;
	font-weight:bold;
}
.detail{}